global
    log stdout local0
    maxconn 50000
    # ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    # ssl-default-bind-options ssl-min-ver TLSv1.1

defaults
    log global
    maxconn 3000
    mode http
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    option httplog
    option logasap
    option http-use-htx

frontend fe_proxy
    # bind :3001 ssl  crt /path/to/cert.pem  alpn h2
    bind :3001 proto h2
    default_backend be_servers

backend be_servers
    balance roundrobin
    # server server1 server:3000 check  maxconn 20  ssl  alpn h2  ca-file /usr/local/etc/haproxy/pem/server.crt
    server server1 10.211.55.7:30051 check  maxconn 20  proto h2
